* {
    box-sizing: border-box;
}

:root {
    --article-color: white;
    --bg-url: #0d1117;
    --bg-header: #161b22;
    --color-header-footer: white;
    --boder-color: #30363d;
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
    --th-color: black;
}

.light {
    --article-color: black;
    --bg-url: #ffffff;
    --boder-color: black;
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --switch-bg-url: url(./assets/sun.svg);
    --th-color: white;  
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-url) no-repeat top center/cover;
    height: 100%;
}

body * {
    font-family: 'Josefin Sans', sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding-top: .5rem;

    background-color: var(--bg-header);
    border: 1px solid var(--boder-color);

    font-size: 30px;
}

#header img {
    width: 112px;
}

#switch {
    position: relative;
    width: 64px;

    margin: 0 auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-out 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;

    background: var(--bg-url);
    border: 1px solid var(--color-header-footer);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

#btn-mobile {
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    margin: 0 20rem;

}

#menu li {
    border-right: 2px solid var(--color-header-footer);
}

#left-corner {
    border-left: 2px solid var(--color-header-footer);
}

#menu a {
    display: flex;
    justify-content: center;
    border-radius: 8px;

    padding: .5rem;
    margin: .5rem;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    -ms-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    color: var(--color-header-footer);

    transition: background 0.2s;
}

#menu a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--article-color);
}

#article {
    width: 100%;
    height: fit-content;

    padding: 0 16px 0 8px;
    text-align: justify;

    color: var(--article-color);
}

#article p {
    margin: 8px auto;
}

#article ul {
    margin: 8px 24px;
}

#article ul li {
    margin: 4px;
}

#article a {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--article-color);
}

#article iframe {
    display: flex;
    width: 1040px;
    height: 540px;
    margin: 1.5rem auto 1.5rem auto;
}

#footer {
    clear: both;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: fit-content;

    background-color: var(--bg-header);
    border-top: 1px solid var(--boder-color);

    text-align: center;
    font-size: 14px;
    color: var(--color-header-footer);
}

#social-links {
    display: flex;
    justify-self: end;
    gap: 16px;

    padding: 8px;

    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s;
    border-radius: 50%;

    color: var(--color-header-footer);
}

#social-links a:hover {
    background: var(--highlight-color);
}

#equipes {
    color: var(--article-color);
}

#equipes table {
    width: max-content;
    margin: 0 auto 20px;

    border-spacing: 0px;
    table-layout: fixed;
    text-align: center;
    background-color: var(--bg-url);
}

#equipes th {
    background-color: var(--article-color);
    border: 3px solid var(--boder-color);
    padding: 4px;
    color: var(--th-color);
}

#equipes td {
    border: 1px solid var(--boder-color);
    padding: 5px;
}

#alimentos {
    color: var(--article-color);
}

#alimentos h1#headeralimentos {
    color: var(--color-header-footer);
    border: transparent;
    margin: 0;
    padding: 20px;
}

#content1 {
    margin-left: 20px;
}

#alimentos-btn {
    background-color: #0d1117;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
  
#alimentos-btn:hover {
    background-color: #30363d;
}

#alimentos p#desc1 {
    margin-bottom: 8px;
}

#alimentos ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

#alimentos ul li {
    display: table-row;
    margin-left: 10px;

}

#saibamais {
    margin-top: 200px;
    padding: 20px;
}

#regrasimg {  /* Essa imagem é temporária e eu espero que alguem tenha alguma imagem mais relacionada ao trote solidário para colocar aqui */
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 400px;
    height: 600px;
}

#pontuacao {
    color: var(--article-color);
}

#pontuacao #header2 {
    color: var(--color-header-footer);
    margin: 0;
    padding: 20px;
}

#content2 {
    margin-left: 20px;
}

#pontuacao-btn {
    background-color: #0d1117;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
  
#pontuacao-btn:hover {
    background-color: #30363d;
}

#sangue {
    color: var(--article-color);
}

#sangue #header3 {
    color: var(--color-header-footer);
    margin: 0;
    padding: 20px;
}

#content3 {
    margin-left: 20px;
}

#sangue-btn {
    background-color: #0d1117;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
  
#sangue-btn:hover {
    background-color: #30363d;
}

#calculadora {
    color: var(--article-color)
}

#calculadora #header4 {
    color: var(--color-header-footer);
    margin: 0;
    padding: 20px;
}

#content4 {
    margin-left: 20px;
}

#calculadora-btn {
    background-color: #0d1117;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

#calculadora-btn:hover {
    background-color: #30363d;
}

@media(max-width: 600px) {

    /* Modo mobile */
    #header img {
        width: 70px;
    }

    #menu {
        margin: 0;
        padding: 0;
        display: block;
        height: 0;
        width: 100%;

        position: absolute;
        top: 83.5px;
        left: 0;

        background: var(--bg-url);
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 83.5px);
        visibility: visible;
        overflow-y: auto;
    }

    #left-corner {
        border: none;
    }

    #menu li {
        border: none;
    }

    #menu a {
        border-bottom: 2px solid var(--color-header-footer);
        border-radius: 0;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        gap: .5rem;

        color: var(--color-header-footer);
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;

        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #article iframe {
        width: calc(600px/2);
        height: calc(450px/2);
    }

    #equipes table {
        width: 100vw;
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}