* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: linear-gradient(rgb(0, 0, 100), rgb(0, 0, 150), rgba(0, 0, 200));
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light{
    --text-color: black;
    --bg-url: linear-gradient(rgb(0, 220, 250), rgba(0, 220, 250, 0.5));
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body{
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

body * {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100vw;
}

#container h1 {
    display: flex;
    justify-content: center;

    padding: 12px;

    border: 1px solid var(--stroke-color);
}

#equipes p { 
    margin: 8px auto;
}

#equipes table{
    border-spacing: 0px;
    table-layout: fixed;
    margin: 0 auto 20px; 
    text-align: center;
}
#equipes th {
    border: 3px solid var(--stroke-color);
    padding: 4px;
}

#equipes  td {
    border: 1px solid var(--stroke-color);
    padding: 5px;
}
#regras h1#header {
    gap: 5px;
    padding: 20px;
    border: 1px;
}

#regras p#desc1 {
    margin-bottom: 8px;
}
#regras ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
#regras ul li {
    display: table-row;
    margin-left: 10px;

}
#regras p#saibamais {
    padding-top: 10px;
    padding-bottom: 100px;
}
#profile {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#profile img {
    width: 112px;
}

#content {
    padding: 0 16px 0 8px;
    text-align: justify;
}

#content p{
    margin: 8px auto;
}

#content ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px;
}

#content ul ul{
    margin: 8px 24px;
}

#content a {
    display: flex;
    justify-content: center;
    gap: 16px;  
}

#switch {
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-out 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);    
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    -ms-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 16px;

    padding: 8px;

    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover{
    background: var(--highlight-color);
}

footer {
    width: auto;
    padding: 8px 0 0 8px;
    font-size: 14px;
}

@media (min-width: 700px){
    #menu {
        width: 200px;
        height: 100vh;

        border: 1px solid var(--stroke-color);
    }
    
    #profile {
        padding: 8px;
    }

    #profile p {
        padding-bottom: 8px;
        font-weight: 500;
        font-size: 18px;
    }
    
    #links ul{
        list-style: none;
        justify-content: center;
    }

    #links ul li {
        border: 1px solid var(--stroke-color);
    }
    
    #links ul li a{
        display: flex;
        gap: 16px;
        justify-content: center;

        padding: 16px;

        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        -moz-backdrop-filter: blur(4px);
        -ms-backdrop-filter: blur(4px);
        -o-backdrop-filter: blur(4px);
    
        text-decoration: none;
        font-weight: 500;
    
        transition: background 0.2s;
    }
    
    #links ul li a:hover {
        background: var(--surface-color-hover);
        border: 1.5px solid var(--text-color);
    }
    
}

@keyframes slide-in {
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slide-out {
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}